<div class="uneven-bg row ">
  <h2 class="text-center">Experiencia laboral</h2>
  <div class="col-lg-2">
    <button type="button" class="btn btn-dark" routerLink="/crear" *ngIf="isLogged">Nueva Experiencia</button>
  </div>
  <div class="text-center p-4">
  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let Experiencia of experiencia">
        <td>{{Experiencia.nombreXP}}</td>
        <td>{{Experiencia.descripXP}}</td>
        <td>EDITAR</td>
        <td>BORRAR</td>
      </tr>
    </tbody>
  </table>
</div>
<!--  <div class="col-auto p-4">
    <ul class="list-group">
      <li ><h3>Template de trabajo</h3><p class="disabled">xxxx-xxxx</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repellat voluptatem a nihil neque velit magnam odio eligendi corrupti quaerat debitis quibusdam nesciunt delectus iste qui, nulla optio ut provident.</p></li>
      <li ><h3>Template de trabajo</h3><p class="disabled">xxxx-xxxx</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repellat voluptatem a nihil neque velit magnam odio eligendi corrupti quaerat debitis quibusdam nesciunt delectus iste qui, nulla optio ut provident.</p></li>
      <li ><h3>Template de trabajo</h3><p class="disabled">xxxx-xxxx</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repellat voluptatem a nihil neque velit magnam odio eligendi corrupti quaerat debitis quibusdam nesciunt delectus iste qui, nulla optio ut provident.</p></li>
    </ul>
  </div>
-->
<div class="separator"></div>
</div>

