<nav class="row navbar navbar-dark navbar-expand-lg text-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" target="_blank" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"><img src="../../../assets/logoargentina programa.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" data-bs-theme="dark">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a href="https://github.com/David-Frances" target="_blank" class="nav-link active link-light"><i class=" fa-brands fa-github fa-2xl"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/ShadowBox_Liam" target="_blank" class="nav-link active link-light"><i class="fa-brands fa-twitter fa-2xl"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://www.linkedin.com/in/david-frances-28144220a/" target="_blank" class="nav-link active link-light"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        </li>
      </ul>
      <button type="button" class="btn btn-outline-light">INGRESAR</button>
    </div>
  </div>
</nav>


  <div class="row bg-dark">

    <div class="text-end">



    </div>

    </div>

  <div class="row bg-dark">
    <app-banner></app-banner>
  </div>

