<div class="row even-bg ">
  <h2 class="text-center">Proyectos</h2>
  <div class="row p-4 ">
    <div class="text-center col-sm-auto col-md-3 col-lg-3 offset-md-1  bg-dark text-light">
        <img class="card-image" src="../../../assets/logoargentina programa.png" alt="proyecto">
        <div class="card-containter">
            <h3>Nombre del proyecto</h3>
            <p class="idented">descripcion del proyecto</p>
            <a><div class="btn btn-success">Ver mas</div></a>
        </div>
    </div>
    <div class="text-center col-sm-auto col-md-3 col-lg-3 offset-md-1  bg-dark text-light">
      <img class="card-image" src="../../../assets/logoargentina programa.png" alt="proyecto">
      <div class="card-containter">
          <h3>Nombre del proyecto</h3>
          <p class="idented">descripcion del proyecto</p>
          <a><div class="btn btn-success">Ver mas</div></a>
      </div>
  </div>
  <div class="text-center col-sm-auto col-md-3 col-lg-3 offset-md-1  bg-dark text-light">
    <img class="card-image" src="../../../assets/logoargentina programa.png" alt="proyecto">
    <div class="card-containter">
        <h3>Nombre del proyecto</h3>
        <p class="idented">descripcion del proyecto</p>
        <a><div class="btn btn-success">Ver mas</div></a>
    </div>
</div>
  </div>
  <div class="separator"></div>
</div>
