<div class="row even-bg">
  <div class=" col-xs-12 col-md-3">
    <img id="perfil" src="../../../assets/fotico.jpg" class="img-thumbnail rounded-circle" alt="Foto de perfil">
  </div>
  <div class="col-xs-12 col-md-9 p-4">
    <p id="nombre" class="text-center fw-bold">David Emmanuel Frances</p>
    <p class="text-center text-bg-dark">Full-Stack Developer Jr.</p>
    <p class="text-center text-bg-dark">Programador Unity Jr.</p>
    <p class="text-center text-bg-dark">Técnico Electromecánico</p>
  </div>
  <div>
    <span>
      <h1 class="text-center">Acerca de mí</h1>
      <p class="justify-content-center p-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
         Aliquid, at. Optio voluptas at odio,
         esse nostrum tenetur minus maiores!
         Asperiores numquam animi dolore delectus,
         necessitatibus iste nesciunt distinctio saepe vitae?</p>
      </span>
  </div>
  <div class="separator"></div>
 </div>


